body {
      margin: 0;
      height: 100vh; 
      display: flex;
    }

    .metà {
      flex: 1; /* Occupa metà della pagina */
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s ;
    }

    a img {
      max-width: 80%;
      max-height: 80%;
      border-radius: 25px; /* Spigoli curvi */
      transition: transform 0.3s;
    }

    a img:hover {
      transform: scale(1.05);
    }
